In [1]:
import numpy as np
import pandas as pd

In [2]:
dados = pd.read_csv('CotacoesMoedasPeriodo.csv', sep = ';', encoding = 'UTF-8', header = None)

In [3]:
dados.head()

         0    1  2    3       4       5       6       7
0  1072024  220  A  USD  5,5887  5,5893  1,0000  1,0000
1  2072024  220  A  USD  5,6671  5,6677  1,0000  1,0000
2  3072024  220  A  USD  5,5857  5,5863  1,0000  1,0000
3  4072024  220  A  USD  5,4833  5,4839  1,0000  1,0000
4  5072024  220  A  USD  5,4964  5,4970  1,0000  1,0000

In [4]:
dados.tail(3)

           0    1  2    3       4       5       6       7
20  29072024  220  A  USD  5,6473  5,6479  1,0000  1,0000
21  30072024  220  A  USD  5,6526  5,6532  1,0000  1,0000
22  31072024  220  A  USD  5,6615  5,6621  1,0000  1,0000

In [5]:
dados.shape

(23, 8)

In [6]:
dados.columns = ['datas', 'código', 'tipo', 'símbolo', 'compra', 'venda', 'ns1', 'ns2']

In [7]:
dados.head()

     datas  código tipo símbolo  compra   venda     ns1     ns2
0  1072024     220    A     USD  5,5887  5,5893  1,0000  1,0000
1  2072024     220    A     USD  5,6671  5,6677  1,0000  1,0000
2  3072024     220    A     USD  5,5857  5,5863  1,0000  1,0000
3  4072024     220    A     USD  5,4833  5,4839  1,0000  1,0000
4  5072024     220    A     USD  5,4964  5,4970  1,0000  1,0000

In [8]:
dados = dados.rename(columns={'ns2': 'ns10'})
dados.head()

     datas  código tipo símbolo  compra   venda     ns1    ns10
0  1072024     220    A     USD  5,5887  5,5893  1,0000  1,0000
1  2072024     220    A     USD  5,6671  5,6677  1,0000  1,0000
2  3072024     220    A     USD  5,5857  5,5863  1,0000  1,0000
3  4072024     220    A     USD  5,4833  5,4839  1,0000  1,0000
4  5072024     220    A     USD  5,4964  5,4970  1,0000  1,0000

In [9]:
dados1 = dados.drop(columns = ['ns1', 'ns10'])
dados1.head(2)

     datas  código tipo símbolo  compra   venda
0  1072024     220    A     USD  5,5887  5,5893
1  2072024     220    A     USD  5,6671  5,6677

In [10]:
dados1.dtypes

datas       int64
código      int64
tipo       object
símbolo    object
compra     object
venda      object
dtype: object

In [11]:
dados1['compra'] = dados1['compra'].apply(lambda x: x.replace(',','.'))
dados1.head()

     datas  código tipo símbolo  compra   venda
0  1072024     220    A     USD  5.5887  5,5893
1  2072024     220    A     USD  5.6671  5,6677
2  3072024     220    A     USD  5.5857  5,5863
3  4072024     220    A     USD  5.4833  5,4839
4  5072024     220    A     USD  5.4964  5,4970

In [12]:
dados1.venda = dados1.venda.apply(lambda x: x.replace(',','.'))
dados1.head()

     datas  código tipo símbolo  compra   venda
0  1072024     220    A     USD  5.5887  5.5893
1  2072024     220    A     USD  5.6671  5.6677
2  3072024     220    A     USD  5.5857  5.5863
3  4072024     220    A     USD  5.4833  5.4839
4  5072024     220    A     USD  5.4964  5.4970

In [13]:
dados1.dtypes

datas       int64
código      int64
tipo       object
símbolo    object
compra     object
venda      object
dtype: object

In [14]:
dados1.compra.astype(float)
dados1.venda.astype(float)
dados1.dtypes

datas       int64
código      int64
tipo       object
símbolo    object
compra     object
venda      object
dtype: object

In [15]:
dados1.to_csv('dados_tratados_dolar.csv', encoding = 'iso-8859-1', index = False)